@use "../style/partials/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.main {
    background-color: black;
}

.blu {
    background-color: $primary_color;
}

.up {
    background-image: url(./assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.down {
    background-color: $background_footer;
}

.jumbo {
    width: 100%;
    height: 30vh;
    background-image: url("./assets/img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}